* {
    box-sizing: border-box;
}

#board {
    display: grid;
    background-color: grey;
    width: 810px;
    height: 810px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
    margin: 0;
}

figure {
    height: 100px;
    margin: 0;
}

.black {
    background-color: rgb(30, 67, 38);
}

.white {
    background-color: white;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
}

main {
    padding: 0;
}

figure img {
    width: 100px;
    height: auto;
}
/* 
img {
    display: none;
} */

@media all and (max-width: 810px) {
    #board {
        width: 100vw;
        height: 100vw;
    }
    figure {
        height: 12.5vw;
    }
    figure img {
        width: 12.5vw;
    }
}